app/tmp/
app/webroot/excelInventario/
app/webroot/imagenesCloud/
app/Config/database.php
app/webroot/favicon.ico
app/webroot/img/login.jpg
.htaccess
app/webroot/img/png/blanco O colores-02.png
app/webroot/img/png/miggo.png
